*, ::before, ::after, html
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--color);
}
ul{
  list-style-type: none;
}

:root{
  --color-primary: #fff;
  --color-secondary: #6c63ff;
  --background-color: rgb(19, 26, 40);
  --background-color-light: rgb(27, 41, 58);

  /* text color */
  --color: #fff;

  --border-radius: 8px;
  --box-shadow: 1px 1px #112;

    --border-color: #fff;
    --nav-background: rgb(23, 24, 38);
}
.dark-theme{
  --background-color: rgb(19, 26, 40);
  --background-color-light: rgb(27, 41, 58);
  --border-color: #fff;

  --color: #fff;
  --box-shadow: 1px 1px #112;
       --nav-background: rgb(22, 23, 31);

}
.light-theme{
  --background-color: #efeeef;
  --background-color-light: rgb(251, 250, 250);
  --border-color: #333;

  --color: rgba(4, 1, 32, 0.897);
  --box-shadow: 1px 1px #f8f7f9;
      --nav-background: rgb(232, 232, 232);

}

