.projectPage{
    min-height: 100vh;
    padding: 1rem 10vw;
    margin-bottom: 20px;
    position: relative;
}
.projectTitle{
    margin-bottom: 15px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    min-height: 650px;
}
.imgCont{
    object-fit: contain;
    height: 350px;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
}
.img{
    border-radius: var(--border-radius);
}
.description{
    margin-bottom: 10px;
}
.technologiesContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}
.technology{
    background: royalblue;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: var(--border-radius);
}
.linksContainer{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.icon{
    margin-right: 15px;
    font-size: 1.4rem;
}
.nextProject{
    display: flex;
    align-items: center;
    justify-content: center;
    background: royalblue;
    padding: 0.5rem 0.8rem;
    border-radius: var(--border-radius);
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 909px) {
    .projectPage{
        padding: .5rem;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .imgCont{
        height: 300px;
    }
}